@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);
#test-offres {
  background-color: #004994; }
  #test-offres .text {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    margin-bottom: 17px; }
    #test-offres .text span[class^=icon-] {
      display: none; }
  #test-offres .testDispo {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-align: center; }
    #test-offres .testDispo > div {
      float: left;
      width: 100%;
      padding: 0 10px; }
      #test-offres .testDispo > div select, #test-offres .testDispo > div input, #test-offres .testDispo > div .btn-orange {
        font-size: 16px !important; }
      #test-offres .testDispo > div > * {
        width: 100%; }
  #test-offres .input-white, #test-offres .btn-white {
    width: 100%; }
  #test-offres .input-white {
    margin-bottom: 15px; }
  #test-offres .btn-orange {
    font-size: 18px; }

#step-list {
  background-color: #004994;
  padding: 10px 0; }
  #step-list ul {
    text-align: center; }
  #step-list li {
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 15px;
    line-height: 30px;
    color: white; }
    #step-list li:not(.step-separator) {
      cursor: pointer; }
    #step-list li .icon-right-arrow {
      position: relative;
      margin: 0;
      top: 1px;
      font-size: 0.75em; }
    #step-list li.active {
      border-bottom: 1px solid #fff; }
      #step-list li.active ~ li {
        opacity: 0.5;
        cursor: default; }
  #step-list li:not(:last-child) {
    margin-right: 4px; }

#panier > ul, .shop-list > ul {
  display: block;
  border: 1px solid #004994;
  color: #000;
  border-radius: 6px; }
  #panier > ul .exponent, .shop-list > ul .exponent {
    position: absolute;
    top: -3px;
    font-size: 0.6em; }
  #panier > ul li, .shop-list > ul li {
    display: block;
    width: 100%; }
  #panier > ul h3, #panier > ul h4, .shop-list > ul h3, .shop-list > ul h4 {
    margin: 0; }
  #panier > ul [class^=icon-], .shop-list > ul [class^=icon-] {
    color: #e75e0a;
    position: relative;
    top: 2px; }
  #panier > ul .header, .shop-list > ul .header {
    background-color: #004994;
    padding: 13px 0; }
    #panier > ul .header h3, .shop-list > ul .header h3 {
      font-weight: 400;
      font-size: 1.4em;
      color: #fff;
      text-transform: uppercase;
      text-align: center; }
  #panier > ul .month, #panier > ul .unique, #panier > ul .section:not(:last-child), .shop-list > ul .month, .shop-list > ul .unique, .shop-list > ul .section:not(:last-child) {
    border-bottom: 1px solid #004994; }
  #panier > ul .month, #panier > ul .unique, #panier > ul .term, #panier > ul .section, .shop-list > ul .month, .shop-list > ul .unique, .shop-list > ul .term, .shop-list > ul .section {
    padding: 15px 10px; }
    #panier > ul .month ul, #panier > ul .unique ul, #panier > ul .term ul, #panier > ul .section ul, .shop-list > ul .month ul, .shop-list > ul .unique ul, .shop-list > ul .term ul, .shop-list > ul .section ul {
      display: block; }
    #panier > ul .month li, #panier > ul .unique li, #panier > ul .term li, #panier > ul .section li, .shop-list > ul .month li, .shop-list > ul .unique li, .shop-list > ul .term li, .shop-list > ul .section li {
      display: block;
      line-height: 20px;
      padding: 0 0 0 10px;
      text-align: left; }
      #panier > ul .month li:before, #panier > ul .unique li:before, #panier > ul .term li:before, #panier > ul .section li:before, .shop-list > ul .month li:before, .shop-list > ul .unique li:before, .shop-list > ul .term li:before, .shop-list > ul .section li:before {
        content: "";
        display: table; }
      #panier > ul .month li:after, #panier > ul .unique li:after, #panier > ul .term li:after, #panier > ul .section li:after, .shop-list > ul .month li:after, .shop-list > ul .unique li:after, .shop-list > ul .term li:after, .shop-list > ul .section li:after {
        content: "";
        display: table;
        clear: both; }
    #panier > ul .month .label, #panier > ul .month .price, #panier > ul .unique .label, #panier > ul .unique .price, #panier > ul .term .label, #panier > ul .term .price, #panier > ul .section .label, #panier > ul .section .price, .shop-list > ul .month .label, .shop-list > ul .month .price, .shop-list > ul .unique .label, .shop-list > ul .unique .price, .shop-list > ul .term .label, .shop-list > ul .term .price, .shop-list > ul .section .label, .shop-list > ul .section .price {
      font-size: 1.1em; }
    #panier > ul .month .price, #panier > ul .unique .price, #panier > ul .term .price, #panier > ul .section .price, .shop-list > ul .month .price, .shop-list > ul .unique .price, .shop-list > ul .term .price, .shop-list > ul .section .price {
      float: right;
      color: #E75E0A;
      text-align: right;
      font-weight: 600; }
    #panier > ul .month .remise-name, #panier > ul .unique .remise-name, #panier > ul .term .remise-name, #panier > ul .section .remise-name, .shop-list > ul .month .remise-name, .shop-list > ul .unique .remise-name, .shop-list > ul .term .remise-name, .shop-list > ul .section .remise-name {
      color: #e75e0a;
      font-size: 1.05em; }
  #panier > ul .term h4, .shop-list > ul .term h4 {
    margin: 0;
    display: inline-block; }
  #panier > ul .term span, .shop-list > ul .term span {
    top: 2px;
    position: relative; }
  #panier > ul .prices, .shop-list > ul .prices {
    padding: 10px 0;
    background-color: #004994;
    color: #fff; }
    #panier > ul .prices ul, .shop-list > ul .prices ul {
      display: block;
      padding: 0 15px;
      text-align: center; }
      #panier > ul .prices ul li, .shop-list > ul .prices ul li {
        line-height: 25px; }
        #panier > ul .prices ul li:before, .shop-list > ul .prices ul li:before {
          content: "";
          display: table; }
        #panier > ul .prices ul li:after, .shop-list > ul .prices ul li:after {
          content: "";
          display: table;
          clear: both; }
    #panier > ul .prices .prices-label, #panier > ul .prices .prices-price, .shop-list > ul .prices .prices-label, .shop-list > ul .prices .prices-price {
      font-size: 15px;
      text-transform: uppercase; }
    #panier > ul .prices .prices-label, .shop-list > ul .prices .prices-label {
      float: left; }
    #panier > ul .prices .prices-price, .shop-list > ul .prices .prices-price {
      float: right;
      color: #fff;
      font-weight: 800;
      font-size: 1.1em; }
  #panier > ul h4, .shop-list > ul h4 {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px; }

.cart-note {
  display: none;
  color: #818181;
  font-weight: 400;
  padding: 0 13px;
  font-size: 1em;
  margin-top: 10px; }
  .cart-note span[class^="icon-"] {
    top: 2px;
    margin-right: 5px; }
  .cart-note .price {
    float: right;
    font-weight: 800;
    font-size: 1.05em; }

.shop-list > ul .month .price, .shop-list > ul .unique .price {
  font-weight: 400; }

#inscription {
  min-height: 520px; }

#steps .step {
  display: none; }
#steps .step-title, #steps .step-subtitle {
  margin: 0;
  font-size: 1.8em;
  font-weight: 600; }
#steps .step-subtitle {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600; }
#steps .substep-title {
  display: block;
  font-weight: 600;
  color: #000;
  font-size: 1.05em; }
#steps .step-description, #steps .step-subdescription {
  font-size: 1.2em;
  margin: 10px 0;
  line-height: 20px;
  color: #818181; }
#steps .btn-blue, #steps .btn-orange {
  font-size: 1.1em; }
  #steps .btn-blue [class^=icon-], #steps .btn-orange [class^=icon-] {
    font-size: 0.8em;
    top: 1px; }
#steps .btn-blue {
  text-shadow: none; }
  #steps .btn-blue [class^=icon-] {
    margin-right: 10px; }
#steps .btn-orange {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  margin: 0; }
  #steps .btn-orange [class^=icon-] {
    margin: 0;
    margin-left: 10px; }
  #steps .btn-orange.disabled:before {
    position: absolute;
    top: -23px;
    right: 0;
    content: "Merci de s\00E9lectionner tous les champs requis";
    color: #DC0000;
    font-weight: 800;
    font-size: 0.94em; }

.shop-item {
  display: block;
  position: relative;
  text-align: center;
  overflow: hidden;
  min-height: 189px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #004994;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 14px; }
  .shop-item:before {
    content: "";
    display: table; }
  .shop-item:after {
    content: "";
    display: table;
    clear: both; }
  .shop-item .btn-blue {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 1.2em !important;
    cursor: inherit; }
    .shop-item .btn-blue:before {
      content: "Choisir"; }
  .shop-item:not(.disabled):not(.fixed) {
    cursor: pointer; }
  .shop-item.disabled {
    border-color: #c0c0c0;
    opacity: 0.5;
    cursor: default; }
  .shop-item:not(.disabled):not(.fixed):hover {
    opacity: 0.8; }
  .shop-item li {
    display: block; }
  .shop-item.selected {
    border: 1px solid #e75e0a; }
    .shop-item.selected .btn-blue {
      background-color: #e75e0a;
      font-size: 2em !important;
      padding: 0 10px; }
      .shop-item.selected .btn-blue:hover {
        background-color: #e75e0a; }
      .shop-item.selected .btn-blue:before {
        position: relative;
        top: 1px;
        font-family: "luxonline-icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\45"; }

.shop-item-name {
  margin: 0 0 15px;
  font-size: 1.32em;
  font-weight: 600; }

.shop-item-description {
  line-height: 20px;
  font-size: 1.05em; }

.shop-item-container-img {
  overflow: hidden; }

.shop-item-img {
  display: inline-block;
  height: 100%;
  width: auto; }

.shop-item-price {
  display: inline-block;
  position: relative;
  float: left;
  text-align: left;
  line-height: 20px;
  font-size: 1em; }
  .shop-item-price .price {
    font-size: 1.25em; }
  .shop-item-price.promo .price {
    text-decoration: line-through; }

.form-input {
  display: inline-block;
  background-color: #f8f8f8;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.7);
  -o-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  border: none;
  height: 45px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #818181; }
  .form-input.not-fill {
    border: 1px solid #DC0000; }

.is-disabled {
  opacity: 0.3; }
  .is-disabled a {
    pointer-events: none;
    cursor: default; }

.client-label {
  position: relative;
  bottom: 1px;
  padding: 5px;
  font-size: 1.3em; }
  .client-label {
    cursor: pointer; }

input[name="client"] {
  cursor: pointer; }

input[type="radio"].error + label, input[type="checkbox"].error + label {
  color: #DC0000; }

input:not([type="radio"]):not([type="checkbox"]).error {
  border: 1px solid #DC0000; }

.notif {
  color: #DC0000;
  font-weight: 800;
  font-size: 1.1em;
  line-height: 25px;
  margin-bottom: -30px; }
  .notif span[class^="icon-"] {
    top: 5px;
    font-size: 1.4em; }

.fibre-infos {
  position: relative;
  font-size: 1.025em; }
  .fibre-infos [class^='icon-'], .fibre-infos .infos {
    display: inline-block;
    line-height: 18px; }
  .fibre-infos [class^='icon-'] {
    color: #e75e0a;
    font-size: 2em;
    margin-right: 10px;
    position: absolute;
    top: 3px;
    left: 0px; }
  .fibre-infos .infos {
    padding-left: 35px; }
  .fibre-infos p {
    margin: 0; }

.fibre-install {
  margin-bottom: 10px; }
  .fibre-install .shop-item-price.promo.orange {
    font-size: 1.175em;
    display: block;
    float: none;
    margin-bottom: 5px;
    font-weight: 600; }

.shop-link {
  font-size: 1em;
  display: block;
  color: #004994;
  text-decoration: underline; }

input[type=number] {
  -moz-appearance: textfield; }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; }

#test-offres {
  text-align: center;
  padding: 20px 0; }

@media screen and (max-width: 671px) {
  .shop-list > ul {
    font-size: 12px; }

  .input-group-table .input-group.inline > label, .input-group-table .input-group.inline > input, .input-group-table .input-group.inline > .input-group-cell {
    display: block !important; } }
@media screen and (max-width: 1055px) {
  /*.shop-item{
      [class^="phone-"]{
          float: none;
      }
  }*/ }
@media screen and (min-width: 672px) {
  #test-offres {
    padding: 6px 0 10px; }
    #test-offres .btn-orange, #test-offres .input-white {
      width: 290px;
      vertical-align: top; }
    #test-offres .btn-orange {
      vertical-align: top;
      top: 3px;
      float: right; }
    #test-offres .input-white {
      float: left; }
    #test-offres .text {
      position: relative;
      font-size: 19px;
      margin-bottom: 30px; }
      #test-offres .text span[class^=icon-] {
        display: inline-block;
        position: relative;
        top: 15px;
        font-size: 45px;
        margin-right: 31px;
        -ms-transform: rotate(-20deg);
        /* IE 9 */
        -webkit-transform: rotate(-20deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-20deg); }
    #test-offres .testDispo > div {
      width: 50%; }

  .shop-item-list [class$="-6"]:nth-child(odd) {
    padding-right: 10px; }
  .shop-item-list [class$="-6"]:nth-child(even) {
    padding-left: 10px;
    margin-bottom: 20px; }

  #steps .btn-orange.disabled:before {
    top: auto;
    right: 123px; } }
@media screen and (min-width: 1056px) {
  #test-offres {
    padding: 5px 0 6px; }
    #test-offres .text {
      width: 45% !important;
      display: inline-block;
      margin-bottom: 22px; }
    #test-offres .row {
      position: relative; }
    #test-offres .testDispo {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: auto;
      margin: 4px 0; }
      #test-offres .testDispo > div {
        max-width: 217px;
        width: auto; }
        #test-offres .testDispo > div select, #test-offres .testDispo > div input, #test-offres .testDispo > div .btn-orange {
          font-size: 15px !important;
          margin: 0; }
        #test-offres .testDispo > div .btn-orange {
          padding: 12px 8px; }
    #test-offres .btn-orange, #test-offres .input-white {
      margin: 0; }
    #test-offres .btn-orange {
      top: 2px;
      width: 270px; }
    #test-offres .input-white {
      width: 200px; }

  #personalData > ul {
    max-width: 280px; }

  #step-list ul {
    display: block;
    text-align: justify;
    width: 100%;
    line-height: 0; }
    #step-list ul:after {
      content: '';
      display: inline-block;
      width: 100%; } }
@media screen and (min-width: 1302px) {
  .shop-item {
    text-align: left; }
    .shop-item .shop-item-price {
      position: absolute; }

  .shop-item-container-img {
    text-align: right; }

  #test-offres .input-white {
    width: 250px; }
  #test-offres .btn-orange {
    float: left;
    margin-left: 30px; }
  #test-offres .testDispo > div {
    max-width: none; }
    #test-offres .testDispo > div select, #test-offres .testDispo > div input, #test-offres .testDispo > div .btn-orange {
      font-size: 15px !important;
      margin: 0; }
    #test-offres .testDispo > div .btn-orange {
      padding: 12px 15px; } }

/*# sourceMappingURL=accueil.css.map */
