@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);
#test-offres {
  background-color: #004994; }
  #test-offres .text {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    margin-bottom: 17px; }
    #test-offres .text span[class^=icon-] {
      display: none; }
  #test-offres .testDispo {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-align: center; }
    #test-offres .testDispo > div {
      float: left;
      width: 100%;
      padding: 0 10px; }
      #test-offres .testDispo > div select, #test-offres .testDispo > div input, #test-offres .testDispo > div .btn-orange {
        font-size: 16px !important; }
      #test-offres .testDispo > div > * {
        width: 100%; }
  #test-offres .input-white, #test-offres .btn-white {
    width: 100%; }
  #test-offres .input-white {
    margin-bottom: 15px; }
  #test-offres .btn-orange {
    font-size: 18px; }

#test-offres {
  text-align: center;
  padding: 20px 0; }

@media screen and (min-width: 672px) {
  #test-offres {
    padding: 6px 0 10px; }
    #test-offres .btn-orange, #test-offres .input-white {
      width: 290px;
      vertical-align: top; }
    #test-offres .btn-orange {
      vertical-align: top;
      top: 3px;
      float: right; }
    #test-offres .input-white {
      float: left; }
    #test-offres .text {
      position: relative;
      font-size: 19px;
      margin-bottom: 30px; }
      #test-offres .text span[class^=icon-] {
        display: inline-block;
        position: relative;
        top: 15px;
        font-size: 45px;
        margin-right: 31px;
        -ms-transform: rotate(-20deg);
        /* IE 9 */
        -webkit-transform: rotate(-20deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-20deg); }
    #test-offres .testDispo > div {
      width: 50%; } }
@media screen and (min-width: 1056px) {
  #test-offres {
    padding: 5px 0 6px; }
    #test-offres .text {
      width: 45% !important;
      display: inline-block;
      margin-bottom: 22px; }
    #test-offres .row {
      position: relative; }
    #test-offres .testDispo {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: auto;
      margin: 4px 0; }
      #test-offres .testDispo > div {
        max-width: 217px;
        width: auto; }
        #test-offres .testDispo > div select, #test-offres .testDispo > div input, #test-offres .testDispo > div .btn-orange {
          font-size: 15px !important;
          margin: 0; }
        #test-offres .testDispo > div .btn-orange {
          padding: 12px 8px; }
    #test-offres .btn-orange, #test-offres .input-white {
      margin: 0; }
    #test-offres .btn-orange {
      top: 2px;
      width: 270px; }
    #test-offres .input-white {
      width: 200px; } }
@media screen and (min-width: 1302px) {
  #test-offres .input-white {
    width: 250px; }
  #test-offres .btn-orange {
    float: left;
    margin-left: 30px; }
  #test-offres .testDispo > div {
    max-width: none; }
    #test-offres .testDispo > div select, #test-offres .testDispo > div input, #test-offres .testDispo > div .btn-orange {
      font-size: 15px !important;
      margin: 0; }
    #test-offres .testDispo > div .btn-orange {
      padding: 12px 15px; } }

/*# sourceMappingURL=accueil.css.map */
