@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);
#slider-contents .infos {
  background-size: 672px auto; }
  #slider-contents .infos.image-1 {
    background-image: url(../../images/Homepage/SLIDER/Slider_672x320px_Noel3.jpg); }
  #slider-contents .infos.image-2 {
    background-image: url(../../images/Homepage/SLIDER/Euro2016_672x320px.jpg); }
  #slider-contents .infos.image-3 {
    background-image: url(../../images/Homepage/SLIDER/Slider3_672x320px.jpg); }
  #slider-contents .infos.image-4 {
    background-image: url(../../images/Homepage/SLIDER/LOLVISIO_672x320px.jpg); }
  #slider-contents .infos.image-5 {
    background-image: url(../../images/Homepage/SLIDER/Inscription_672x320px.jpg); }

@media screen and (min-width: 672px) {
  #slider-contents .infos {
    background-size: 1056px auto; }
    #slider-contents .infos.image-1 {
      background-image: url(../../images/Homepage/SLIDER/Slider_1056x450px_Noel3.jpg); }
    #slider-contents .infos.image-2 {
      background-image: url(../../images/Homepage/SLIDER/Euro2016_1056x450px.jpg); }
    #slider-contents .infos.image-3 {
      background-image: url(../../images/Homepage/SLIDER/Slider3_1056x450px.jpg); }
    #slider-contents .infos.image-4 {
      background-image: url(../../images/Homepage/SLIDER/LOLVISIO_1056x450px.jpg); }
    #slider-contents .infos.image-5 {
      background-image: url(../../images/Homepage/SLIDER/Inscription_1056x450px.jpg); } }
@media screen and (min-width: 1056px) {
  #slider-contents .infos {
    background-size: 1302px auto; }
    #slider-contents .infos.image-1 {
      background-image: url(../../images/Homepage/SLIDER/Slider_1302x330px_Noel3.jpg); }
    #slider-contents .infos.image-2 {
      background-image: url(../../images/Homepage/SLIDER/Euro2016_1302x330px.jpg); }
    #slider-contents .infos.image-3 {
      background-image: url(../../images/Homepage/SLIDER/Slider3_1302x330px.jpg); }
    #slider-contents .infos.image-4 {
      background-image: url(../../images/Homepage/SLIDER/LOLVISIO_1302x330px.jpg); }
    #slider-contents .infos.image-5 {
      background-image: url(../../images/Homepage/SLIDER/Inscription_1302x330px.jpg); } }
@media screen and (min-width: 1302px) {
  #slider-contents .infos {
    background-size: 1920px auto; }
    #slider-contents .infos.image-1 {
      background-image: url(../../images/Homepage/SLIDER/Slider_1920x360px_Noel3.jpg); }
    #slider-contents .infos.image-2 {
      background-image: url(../../images/Homepage/SLIDER/Euro2016_1920x360px.jpg); }
    #slider-contents .infos.image-3 {
      background-image: url(../../images/Homepage/SLIDER/Slider3_1920x360px.jpg); }
    #slider-contents .infos.image-4 {
      background-image: url(../../images/Homepage/SLIDER/LOLVISIO_1920x360px.jpg); }
    #slider-contents .infos.image-5 {
      background-image: url(../../images/Homepage/SLIDER/Inscription_1920x360px.jpg); } }
#slider-contents .infos.image-6 .title {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }

#slider-contents .infos.image-5 .title {
  font-size: 1.7em;
  line-height: 30px; }

#slider-contents .infos.image-2 .title {
  text-transform: initial;
  font-size: 20pt;
  line-height: 32px; }

@media screen and (max-width: 671px) {
  #slider-contents .infos.image-2 .row > div, #slider-contents .infos.image-4 .row > div {
    text-align: center; }
  #slider-contents .infos.image-1 .title {
    font-size: 35px; }
  #slider-contents .infos.image-1 .top-details {
    font-size: 18px; }
  #slider-contents .infos.image-1 .bottom-details {
    font-size: 13px; } }
@media screen and (min-width: 672px) {
  #slider-contents .infos.image-2 .title {
    text-transform: initial;
    font-size: 28pt;
    line-height: 42px; }

  #slider-contents .infos.image-5 .title {
    font-size: 27pt;
    line-height: 42px; } }
@media screen and (min-width: 1056px) {
  #slider-contents .infos.image-2 .row > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  #slider-contents .infos.image-2 .title {
    font-size: 32pt;
    line-height: 45px; }
  #slider-contents .infos.image-2 p.bottom-details {
    font-size: 14pt; } }
@media screen and (min-width: 1302px) {
  #slider-contents .infos.image-2 .title {
    font-size: 35pt;
    line-height: 50px;
    margin-bottom: 10px; } }

/*# sourceMappingURL=slider_src.css.map */
