@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);
#promo-fibre:not(.not-accueil) {
  background-image: url("../../../images/promos/Accueil/Offre_Fibre_JAN_672x320px.jpg"); }
#promo-fibre.not-accueil {
  background-image: url("../../../images/promos/Promo_Fibre/Offre_Fibre_JAN_672x200px.jpg"); }

#promo-noel:not(.not-accueil) {
  background-image: url(../../../images/promos/Accueil/Promo_TV_Noel_672x460px.jpg); }
#promo-noel.not-accueil {
  background-image: url(../../../images/promos/Promo_TVNoel/Offre_TV_672x335px.jpg); }

#promo-noel {
  background-size: 672px auto;
  background-position: center top; }
  #promo-noel:not(.not-accueil) {
    height: 460px; }
  #promo-noel.not-accueil {
    height: 335px !important; }
  #promo-noel .section-title {
    font-size: 28px;
    margin: 10px 0; }
  #promo-noel .section-description {
    font-weight: 300;
    font-size: 21px;
    margin: 0 0 17px;
    line-height: 27px; }
    #promo-noel .section-description strong {
      display: inline;
      text-transform: uppercase;
      font-weight: 600; }

#promo-fibre {
  background-size: 672px auto; }
  #promo-fibre:not(.not-accueil) {
    height: 320px !important; }
  #promo-fibre.not-accueil {
    height: 200px !important; }

.gallery-cell {
  width: 100%;
  padding: 0 5px; }

.promo-info {
  margin-top: -5px;
  margin-bottom: 30px; }
  .promo-info .text {
    margin: 0px 0px 15px;
    line-height: 25px;
    font-size: 16px; }
    .promo-info .text strong {
      display: inline; }
    .promo-info .text.bottom {
      margin: 10px 0;
      font-size: 16px; }
  .promo-info .promo-price {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 25px; }
    .promo-info .promo-price .price {
      font-size: 68px;
      margin-bottom: 15px; }
    .promo-info .promo-price .label, .promo-info .promo-price .price {
      display: inline-block; }
    .promo-info .promo-price .label {
      margin-left: 15px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .promo-info .btn-blue {
    font-size: 21px;
    padding: 13px 25px; }
  .promo-info .details {
    margin: 20px 0 10px;
    font-size: 11px; }

.promo-offer-container div[class^=phone-]:first-child {
  padding-right: 15px; }
.promo-offer-container div[class^=phone-]:last-child {
  padding-left: 15px; }

@media screen and (min-width: 1056px) and (max-width: 1301px) {
  .promo-offer-container .offer-item-blue .info, .promo-offer-container .offer-item-blue .check-list-container, .promo-offer-container offer-item-orange .info, .promo-offer-container offer-item-orange .check-list-container {
    padding-left: 18px !important; }
  .promo-offer-container div[class^=phone-]:first-child {
    padding-right: 5px !important; }
  .promo-offer-container div[class^=phone-]:last-child {
    padding-left: 5px !important; } }
@media screen and (min-width: 672px) {
  #promo-fibre:not(.not-accueil) {
    background-image: url("../../../images/promos/Accueil/Offre_Fibre_JAN_1056x290px.jpg"); }
  #promo-fibre.not-accueil {
    background-image: url("../../../images/promos/Promo_Fibre/Offre_Fibre_JAN_1056x200px.jpg"); }

  #promo-noel:not(.not-accueil) {
    background-image: url(../../../images/promos/Accueil/Promo_TV_Noel_1056x430px.jpg); }
  #promo-noel.not-accueil {
    background-image: url(../../../images/promos/Promo_TVNoel/Offre_TV_1056x290px.jpg); }

  #promo-fibre {
    background-size: 1056px auto; }
    #promo-fibre:not(.not-accueil) {
      height: 290px !important; }
      #promo-fibre:not(.not-accueil) .section-title {
        margin-top: 0; }
    #promo-fibre.not-accueil {
      height: 200px !important; }

  #promo-noel {
    background-size: 1056px auto; }
    #promo-noel:not(.not-accueil) {
      height: 430px !important; }
    #promo-noel.not-accueil {
      height: 290px !important; }
      #promo-noel.not-accueil .section-title {
        margin-top: -10px;
        margin-bottom: 0; } }
@media screen and (min-width: 1056px) {
  #promo-fibre:not(.not-accueil) {
    background-image: url("../../../images/promos/Accueil/Offre_Fibre_JAN_1302x370px.jpg"); }
  #promo-fibre.not-accueil {
    background-image: url("../../../images/promos/Promo_Fibre/Offre_Fibre_JAN_1302x370px.jpg"); }

  #promo-noel:not(.not-accueil) {
    background-image: url(../../../images/promos/Accueil/Promo_TV_Noel_1302x370px.jpg); }
  #promo-noel.not-accueil {
    background-image: url(../../../images/promos/Accueil/Promo_TV_Noel_1302x370px.jpg); }

  #promo-noel, #promo-fibre {
    background-size: 1302px auto;
    padding: 40px 0 30px; }
    #promo-noel:not(.not-accueil), #promo-noel.not-accueil, #promo-fibre:not(.not-accueil), #promo-fibre.not-accueil {
      height: 370px !important; }
    #promo-noel .section-title, #promo-fibre .section-title {
      font-size: 43px;
      margin: 10px 0 15px; }
    #promo-noel .section-description, #promo-fibre .section-description {
      font-size: 24px;
      line-height: 35px; }
      #promo-noel .section-description strong, #promo-fibre .section-description strong {
        display: block; }

  #promo-fibre:not(.not-accueil) {
    padding-top: 60px; }

  .promo-info {
    margin-bottom: 0px; }
    .promo-info.left {
      padding-right: 110px; }
    .promo-info.right {
      padding-left: 110px; }
    .promo-info .text {
      margin: 4px 0px 50px;
      line-height: 23px;
      font-size: 18px; }
      .promo-info .text strong {
        display: block; }
      .promo-info .text.bottom {
        margin: 15px 0;
        font-size: 16px; }
    .promo-info .promo-price {
      font-weight: 800;
      font-size: 35px;
      margin-bottom: 60px; }
      .promo-info .promo-price .price {
        font-size: 75px;
        margin-bottom: 15px; }
      .promo-info .promo-price .label {
        margin: 0; }
      .promo-info .promo-price .label, .promo-info .promo-price .price {
        display: block; }
    .promo-info .btn-blue {
      font-size: 21px;
      padding: 13px 25px; }
    .promo-info .details {
      margin: 50px 0 0;
      font-size: 11px; }

  .promo-offer-container div[class^=phone-]:first-child {
    padding-right: 15px; }
  .promo-offer-container div[class^=phone-]:last-child {
    padding-left: 15px; } }
@media screen and (min-width: 1302px) {
  #promo-fibre:not(.not-accueil) {
    background-image: url("../../../images/promos/Accueil/Offre_Fibre_JAN_1920x400px.jpg"); }
  #promo-fibre.not-accueil {
    background-image: url("../../../images/promos/Promo_Fibre/Offre_Fibre_JAN_1920x400px.jpg"); }

  #promo-noel:not(.not-accueil) {
    background-image: url(../../../images/promos/Accueil/Promo_TV_Noel_1920x400px.jpg); }
  #promo-noel.not-accueil {
    background-image: url(../../../images/promos/Accueil/Promo_TV_Noel_1920x400px.jpg); }

  #promo-noel, #promo-fibre {
    background-size: 1920px auto;
    padding: 30px 0; }
    #promo-noel:not(.not-accueil), #promo-noel.not-accueil, #promo-fibre:not(.not-accueil), #promo-fibre.not-accueil {
      height: 400px !important; }
    #promo-noel .section-title, #promo-fibre .section-title {
      font-size: 48px;
      margin: 10px 0 15px; }
    #promo-noel .section-description, #promo-fibre .section-description {
      font-size: 28px;
      line-height: 40px; }
      #promo-noel .section-description strong, #promo-fibre .section-description strong {
        display: block; } }

/*# sourceMappingURL=promos.css.map */
