#promo-fibre{
    &.image-1, &.image-2{text-align: center !important;}
    &.image-1{
        background-image: url('../../../images/promos/Promo_Fibre/Promo_Fibrex2_Visuel2_672x400px.jpg');
    }
    &.image-2{
        background-image: url('../../../images/promos/Promo_Fibre/Promo_Fibrex2_Visuel1_672x400px.jpg');
    }
}

#promo-noel{
    &:not(.not-accueil){
        background-image: url(../../../images/promos/Accueil/Promo_TV_Noel_672x460px.jpg);
    }
    &.not-accueil{
        background-image: url(../../../images/promos/Promo_TVNoel/Offre_TV_672x335px.jpg);
    }
}

#promo-noel{
    background-size: 672px auto;
    height: 400px;        
    background-position: center top;
    .section-title{
        font-size: 28px;
        margin: 10px 0;
    }
    .section-description{
        font-weight: 300;
        font-size: 21px;
        margin: 0 0 17px;
        line-height: 27px;
        strong{
            display: inline;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
#promo-fibre{
    background-size: 672px auto;
    height: 400px !important;
}
.gallery-cell{
    width: 100%;
    padding: 0 5px;
}
.promo-info{
    margin-top: -5px;
    margin-bottom: 30px;
    .text{
        margin: 0px 0px 15px;
        line-height: 25px;
        font-size: 16px;
        strong{
            display: inline;
        }
        &.bottom{
            margin: 10px 0;
            font-size: 16px;
        }
    }
    .promo-price{
        font-weight: 800;
        font-size: 32px;
        margin-bottom: 25px;
        .price{
            font-size: 68px;
            margin-bottom: 15px;
        }
        .label, .price{
            display: inline-block;
        }
        .label{
            margin-left: 15px;
            @include vertical-align-middle;
        }
    }
    .btn-blue{
        font-size: 21px;
        padding: 13px 25px;
    }
    .details{
        margin: 20px 0 10px;
        font-size: 11px;
    }
}
/*.promo-offer-container{
    div[class^=phone-]:first-child{
        padding-right: 15px;
    }
    div[class^=phone-]:last-child{
        padding-left: 15px;
    }
}*/

