@include viewport(range, $max:1301, $min: 1056){
    .promo-offer-container{
        .offer-item-blue, offer-item-orange{
            .info, .check-list-container{
                padding-left: 18px !important;
            }
        }
        div[class^=phone-]:first-child{
            padding-right: 5px !important;
        }
        div[class^=phone-]:last-child{
            padding-left: 5px !important;
        }
    }
}

@include media(tab){
    #promo-fibre{
        background-image: url(../../../images/Promos/Accueil/Promo_Fibre_1056x430px.jpg);
    }
    #promo-internetTV{
        background-image: url(../../../images/Promos/Accueil/Promo_TV_1056x430px.jpg);
    }
    #promo-fibre, #promo-internetTV{
        background-size: 1056px auto;
        height: 430px !important;
        padding: 5px 0 30px;
    }
}

@include media(desk){
    #promo-fibre{
        background-image: url(../../../images/Promos/Accueil/Promo_Fibre_1302x370px.jpg);
    }
    #promo-internetTV{
        background-image: url(../../../images/Promos/Accueil/Promo_TV_1302x370px.jpg);
    }
    #promo-fibre, #promo-internetTV{
        background-size: 1302px auto;
        height: 370px !important;
        padding: 40px 0 30px;
    }
    #promo-fibre, #promo-internetTV{
        .section-title{
            font-size: 43px;
            margin: 10px 0 15px;
        }
        .section-description{
            font-size: 24px;
            line-height: 35px;
            strong{
                display: block;
            }
        }
    }
    .promo-info{
        &.left{padding-right: 110px;}
        &.right{padding-left: 110px;}
        margin-bottom: 0px;
        .text{
            margin: 4px 0px 50px;
            line-height: 23px;
            font-size: 18px;
            strong{
                display: block;
            }
            &.bottom{
                margin: 15px 0;
                font-size: 16px;
            }
        }
        .promo-price{
            font-weight: 800;
            font-size: 35px;
            margin-bottom: 60px;
            .price{
                font-size: 75px;
                margin-bottom: 15px;
            }
            .label{
                margin: 0;
            }
            .label, .price{
                display: block;
            }
        }
        .btn-blue{
            font-size: 21px;
            padding: 13px 25px;
        }
        .details{
            margin: 50px 0 0;
            font-size: 11px;
        }
    }
    .promo-offer-container{
        div[class^=phone-]:first-child{
            padding-right: 15px;
        }
        div[class^=phone-]:last-child{
            padding-left: 15px;
        }
    }



}
@include media(lgdesk){
    #promo-fibre{
        background-image: url(../../../images/Promos/Accueil/Promo_Fibre_1920x400px.jpg);
    }
    #promo-internetTV{
        background-image: url(../../../images/Promos/Accueil/Promo_TV_1920x400px.jpg);
    }
    #promo-fibre, #promo-internetTV{
        background-size: 1920px auto;
        height: 400px !important;
        padding: 30px 0;
    }
}