.text-highlight{
    margin: 12px 0;
    text-align: center;
    color: $orange;
    font-size: 30px;
}

.offer-item-blue .item-body > li{
    background-color: transparent;
}

.footer-note{
    font-size: 11px;
    margin-top: 20px;
    text-align: left;
    color: $dark-grey;
    &>span{
        display: block;
    }
    .exponent{
        display: inline-block;
        margin-right: 5px;
    }
}