@include media(phone){
    .footer-note {
        margin: 20px 0;
    }
}
@include media(tab){
    .footer-note {
        margin: 10px 0 35px;
    }
    .text-highlight{
        font-size: 41px;
    }
    #lolvisio-banner{
        height: 500px !important;
        background-size: 1056px auto;
        background-image: url(../../../images/Telephonie/header/LOLVisio_1056x500px.jpg);
    }
}

@include media(desk){
    .text-highlight{
        font-size: 44px;
    }
    .footer-note {
        margin: 0 0 15px;
    }
    #lolvisio-banner{
        height: 370px !important;
        background-size: 1302px auto;
        background-image: url(../../../images/Telephonie/header/LOLVISIO_1302x370px.jpg);
    }
}

@include media(lgdesk){
    #lolvisio-banner{
        height: 500px !important;
        background-size: 1920px auto;
        background-image: url(../../../images/Telephonie/header/LOLVISIO_1920x500px.jpg);
    }
}