@include media(phone){
    .footer-note {
        margin: 20px 0;
    }
}
@include media(tab){
    .footer-note {
        margin: 10px 0 35px;
    }
    .text-highlight{
        font-size: 41px;
    }
}

@include media(desk){
    .text-highlight{
        font-size: 44px;
    }
    .footer-note {
        margin: 0 0 15px;
    }
}