<div class="row">
    <div class="phone-12 desk-3 desk-pr-20" ng-include="'includes/leftMenu.html'"></div>
    <div class="assistance-list phone-12 desk-9 desk-pl-20">
        <h2 class="title"><span class="icon-{{cat.icon}}"></span> {{cat.name}}</h2>
        <p style="font-size: 20px" class="bold">Demandes fréquentes</p>
        <ul class="list">
            <li style="display: block;" ng-repeat="link in links">
                <a ng-href="#/categories/{{cat.id}}/{{link.link}}"><span class="icon-right-arrow"></span> {{link.name}}</a>
            </li>
        </ul>
    </div>
</div>
