@import "compass";
@import "_normalize.scss";
@import "_grid.scss";

body{
    width: 100%;
    overflow-x: hidden; 
}

body{
  @include base-style;
}

h1, h2, h3, h4, h5, h6{
    color: $blue;
    font-weight: 300;
}

a{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

ul, li{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}