// RESPONSIVE STYLE
// --------------------------------------------------

@include viewport(max, $max: 1301){
    .header-icon{
        display: none !important;
    }
    .icons{
        width: 60%;
        margin-top: 6%;
    }
}

@include media(phone){
    .container-wrapper{
        width: 320px;
        padding: 0 14px;
    }
}
@include media(tab){
    .container-wrapper{
        width: 640px;
    }
    #services{
        .row>div[class^=phone-]{
            padding: 0 15px;
        }
        .service{
            height: auto;
            padding-bottom: 135%;
            margin-bottom: 30px;
            &#loldsl{background-image: url(../../images/index/640px/Offres/LOL_DSL.jpg);}
            &#mobiles{background-image: url(../../images/index/640px/Offres/iphone6.jpg);}
            &#installation{background-image: url(../../images/index/640px/Offres/Offre_TV.jpg);}
            &#dispo{background-image: url(../../images/index/640px/Offres/Recherche_Offre.jpg);}
            .details{
                font-size: 25px;
                line-height: 25px;
            }
            h3{
                font-size: 1.4em;
                margin: 20px -11px 5px;
            }
        }

    }
    #slider-contents{
        .title{
            font-size: 30pt;
            margin-bottom: 15px;
        }
        p.top-details{
            font-size: 21pt;
            line-height: 35px;
        }
        p.bottom-details{
            font-size: 10pt;
        }
    }
    #slider-ui{
        .buttons{
            width: 95%;
            .arrow{
                font-size: 38pt;
            }
        }
        .dots{
            width: 135px;
            li{font-size: 7pt;}
        }
    }
    .help-link{
        font-size: 17px;
        line-height: 25px;
        padding: 15px 0 20px;
    }
    #social-links .brand-name{
        display: inline-block;
    }
    #social-links .social-icon{
        margin-right: 10px;
    }
    #contact li{
        width: auto;
    }
    .section-title{
        font-size: 36px;
        line-height: 45px;
    }
    .footer-bottom-links li{
        margin: 0 35px;
        text-align: center;
    }
}

@include media(desk){
    .container-wrapper{
        width: 1024px;
    }
    .first-section{
        padding-top: 0px !important;
        height: 400px !important;
    }
    .btn-black{
        margin-bottom: 30px;
    }
    #bottom-menu-header{
        height: 65px;
        padding: 11px 0;
        .pull-left{
            width: auto;
        }
    }
    .bottom-menu-header-links{
        float: left;
    }
    .section-layout{
        height: 325px;
        padding: 0;
    }
    #slider{
        padding-bottom: 0;
    }
    #slider-contents .content .infos{
        position: absolute;
        height: 100%;
        z-index: 1;
        text-align: left;
        .row{
            @include vertical-align-middle;
        }
    }
    #slider-contents{
        .title{
            font-size: 30pt;
            margin-bottom: 15px;
        }
        p.top-details{
            font-size: 21pt;
            line-height: 35px;
        }
        p.bottom-details{
            font-size: 10pt;
        }
    }
    #slider-ui{
        .buttons{
            width: 95%;
            .arrow{
                font-size: 38pt;
            }
        }
        .dots{
            width: 135px;
            li{font-size: 7pt;}
        }
    }

    #services{
        .row > div[class^=phone-]{
            padding: 0 7px;
        }
        .service{
            margin-bottom: 0;
            &#loldsl{background-image: url(../../images/index/1024px/Offres/LOL_DSL.jpg);}
            &#mobiles{background-image: url(../../images/index/1024px/Offres/iphone6.jpg);}
            &#installation{background-image: url(../../images/index/1024px/Offres/Offre_TV.jpg);}
            &#dispo{background-image: url(../../images/index/1024px/Offres/Recherche_Offre.jpg);}
            .infos{
                padding: 0 15px 15px;
                .details{
                    font-size: 20px;
                    line-height: 25px;
                }
                h3{
                    font-size: 1.4em;
                    margin: 20px -11px 5px;
                }
            } 
        } 
    }
    .bottom-info{
        font-size: 8pt;
    }

    .price-blue span, .price-orange span{
        font-size: 9.5pt;
    }
    .price-orange{
        font-size: 43pt;
        margin-top: 22px;
        div{
            font-size: 14pt;
            top: -17px;
            left: 68px;

        }
    }

    .price-blue{
        font-size: 34pt;
        div{
            font-size: 11pt;
            top: -11px;
            left: 55px;
        }
    }

    #dispo{
        h3{
            font-size: 12pt !important;
        }
        .input-white{
            height: 48px;
        }
        .btn-orange{
            font-size: 15px;
        }
    }

    .right-orientation,
    .left-orientation{
        .row{
            position: relative;
        }
    }

    .right-orientation .row > div:first-child,
        .left-orientation .row > div:last-child{
        left: 0;
        float: left !important;
        text-align: left;
        .section-img-align-bottom{
            left: 0;
        }
    }
    .right-orientation .row > div:last-child,
        .left-orientation .row > div:first-child{
        right: 0;
        float: right !important;
        text-align: right;
        .section-img-align-bottom{
            right: 0;
        }
    }
    .right-orientation .row > div:last-child, .left-orientation .row > div:last-child{
        @include vertical-align-middle;
        height: auto;


    }
    #twenty-years .row div:first-child{
        text-align: left;
        @include vertical-align-middle;
        height: auto;
    }
    .section-layout img{
        height: 100%;
    }
    .section-img-align-bottom{
        position: absolute;
    }
    .section-title {
        font-size: 30px;
        line-height: 40px;
    }
    #social-links{
        padding: 20px 0 7px;
    }
    #social-links .text, #contact .text{
        text-align: left;
        width: auto;
        margin: 0;
        float: left;margin-top: 5px;
    }
    #social-links nav, #contact ul{
        width: 75%;
    }

    .help-link{
        font-size: 12.5pt;
        span[class^=icon-]{
            &.icon-info-icone{
                margin-right: 5px;
                font-size: 19pt;
            }
            &.icon-right-arrow{
                margin-left: 5px;
                font-size: 14pt;

            }
        }
    }
    #twenty-years{
        background-size: 700px auto;
        background-position:right top;
        padding-top: 0; 
    }
    .footer-bottom-links li{
        text-align: left;
        margin: 0;
        margin-right: 69px;
    }
}
@include media(lgdesk){
    .container-wrapper{
        width: 1280px;
    }
    .first-section{
        padding-top: 15px !important;
        height: 500px !important;
    }
    .btn-black{
        margin-bottom: 10px;
    }
    .section-layout{
        height: 400px;
    }
    .bottom-menu-header-links{
        .main-menu li{
            border-left: 1px solid #eeeeee;
            a{
                .link{
                    bottom: 15px;
                }
            }
        }
    }
    .sub-menu{
        height: 60px;
        line-height: 55px;
        font-size: 16px;
        li{
            margin-right: 65px;
        }
    }

    #slider-contents{
        .title{
            font-size: 42pt;
        }
        p.top-details{
            font-size: 26pt;
            line-height: 42px;
        }
        p.bottom-details{
            font-size: 11pt;
        }
    }
    #slider-ui{
        .buttons{
            width: 90%;
            .arrow{
                font-size: 50pt;
            }
        }
        .dots{
            width: 145px;
            li{font-size: 8pt;}
        }
    } 
    #services{
        .row>div[class^=phone-]{
            padding: 0 7px;
        }
        .service
        {
            &#loldsl{background-image: url(../../images/index/1280px/Offres/LOL_DSL.jpg);}
            &#mobiles{background-image: url(../../images/index/1280px/Offres/iphone6.jpg);}
            &#installation{background-image: url(../../images/index/1280px/Offres/Offre_TV.jpg);}
            &#dispo{background-image: url(../../images/index/1280px/Offres/Recherche_Offre.jpg);}
            .infos
            {
                padding: 0 25px 15px;
                h3
                {
                    font-size: 1.9em;
                    line-height: 28px;
                }
                .details
                {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
        }
    }
    .section-title {
        font-size: 40px;
        line-height: 52px;
        margin: 0 0 25px;
    }
    .section-description {
        font-size: 18px;
        margin: 0 0 45px;
    }
    .bottom-info{
        font-size: 10pt;
    }
    .price-blue span, .price-orange span{
        font-size: 10pt;
    }
    .price-orange{
        font-size: 43pt;
        margin-top: 20px;
        div{
            font-size: 14pt;
            top: -17px;
            left: 68px;

        }
    }

    .price-blue{
        font-size: 34pt;
        div{
            font-size: 11pt;
            top: -11px;
            left: 55px;
        }
    }
    #dispo
    {
        h3
        {
            font-size: 16pt !important;
        }
    }
    #twenty-years{
        background-size: 900px auto;
    }
    .help-link{
        font-size: 14pt;
        span[class^=icon-]{
            &.icon-info-icone{
                margin-right: 7px;
                font-size: 20pt;
            }
            &.icon-right-arrow{
                margin-left: 7px;
                font-size: 15pt;

            }
        }
    }
    .footer-bottom-links li{
        margin-right: 111px;
    }
}
@include viewport(min, $min: 1400){
    .container-wrapper{
        width: 1344px;
    }
    .footer-bottom-links li{
        margin-right: 122px;
    }
}
