// RESPONSIVE STYLE
// --------------------------------------------------
@include viewport(max, $max: 991){
    #bottom-menu-header{
        padding: 15px 0;
        .pull-left{
            width: 100%;
            top: 0;
        }
    }
}

@include viewport(max, $max: 1279){
    .header-icon{
        display: none !important;
    }
    .bottom-menu-header-links{ 
        float: right;
        height: 40px;
        ul{height: 100%;}
        li{
            height: 100%;
            border-left: none;        
            a{
                height: 100%;
                width: 100%;
                line-height: 42px;
                .link{
                    bottom: auto;
                }
            } 
        }
    }
    .container-wrapper{
        width: 95%;
    }
}
@include media(phone){
    .container-wrapper{
        width: 100%;
        padding: 0 15px;
    }
}
@include media(tab){
    .section-layout{
        height: 350px;
    }
}
@include media(desk){

}
@include media(lgdesk){

}

@include viewport(min, $min: 1400){
    .container-wrapper{
        width: 1344px;
    }
}
