@import "_theme.scss";
@import "_mixin.scss";

#slider-contents{
    .infos{
        background-size: 672px auto;
        &.image-1{
            background-image: url(../../images/Homepage/SLIDER/Slider_672x320px_Noel3.jpg);
        }
        &.image-2{
            background-image: url(../../images/Homepage/SLIDER/Slider2_672x320px.jpg);
        }
        &.image-3{
            background-image: url(../../images/Homepage/SLIDER/Slider3_672x320px.jpg);
        }
        &.image-4{
            background-image: url(../../images/Homepage/SLIDER/Freijoersshopping_672x320px.jpg);
        }
    }
}

@include media(tab){
    #slider-contents{
        .infos{
            background-size: 1056px auto;
            &.image-1{
                background-image: url(../../images/Homepage/SLIDER/Slider_1056x450px_Noel3.jpg);
            }
            &.image-2{
                background-image: url(../../images/Homepage/SLIDER/Slider2_1056x450px.jpg);
            }
            &.image-3{
                background-image: url(../../images/Homepage/SLIDER/Slider3_1056x450px.jpg);
            }
            &.image-4{
                background-image: url(../../images/Homepage/SLIDER/Freijoersshopping_1056x450px.jpg);
            }
        }
    } 
}
@include media(desk){
    #slider-contents{
        .infos{
            background-size: 1302px auto;
            &.image-1{
                background-image: url(../../images/Homepage/SLIDER/Slider_1302x330px_Noel3.jpg);
            }
            &.image-2{
                background-image: url(../../images/Homepage/SLIDER/Slider2_1302x330px.jpg);
            }
            &.image-3{
                background-image: url(../../images/Homepage/SLIDER/Slider3_1302x330px.jpg);
            }
            &.image-4{
                background-image: url(../../images/Homepage/SLIDER/Freijoersshopping_1302x330px.jpg);
            }
        }
    }
}
@include media(lgdesk){
    #slider-contents{
        .infos{
            background-size: 1920px auto;
            &.image-1{
                background-image: url(../../images/Homepage/SLIDER/Slider_1920x360px_Noel3.jpg);
            }
            &.image-2{
                background-image: url(../../images/Homepage/SLIDER/Slider2_1920x360px.jpg);
            }
            &.image-3{
                background-image: url(../../images/Homepage/SLIDER/Slider3_1920x360px.jpg);
            }
            &.image-4{
                background-image: url(../../images/Homepage/SLIDER/Freijoersshopping_1920x360px.jpg);
            }
        }
    }
}


// SLIDER STYLES
//-------------------------------------------------------------------------------


#slider-contents .infos.image-6 .title{
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 671px) {
    #slider-contents{
        .infos.image-2 .row>div, .infos.image-4 .row>div{
            top: 0px !important;
        }
        .infos.image-1{
            .title{
                font-size: 35px;
            }
            .top-details{
                font-size: 18px;
            }
            .bottom-details{
                font-size: 13px;
            }
        }
    } 
}
@media screen and (max-width: 1055px) {
    #slider-contents .infos.image-2 .row>div, .infos.image-4 .row>div{
        top: 20px;
        text-align: center !important;
    }
}