#test-offres{
    background-color: $blue;
    .text{
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        line-height: 30px;
        margin-bottom: 17px;

        span[class^=icon-]{
            display: none;
        }
    }
    .testDispo{
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        &>div{
            float: left;
            width: 100%;
            padding: 0 10px;
            select, input, .btn-orange{
                font-size: 16px !important;
            }
            &>*{
                width: 100%;
            }
        }
    }
    .input-white, .btn-white{
        width: 100%;
    }
    .input-white{
        margin-bottom: 15px;
    }
    .btn-orange{
        font-size: 18px; 
    }
}