#test-offres{
    background-color: $blue;
    .text{
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        line-height: 30px;
        margin-bottom: 17px;

        span[class^=icon-]{
            display: none;
        }
    }
    .testDispo{
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        &>div{
            float: left;
            width: 100%;
            padding: 0 10px;
            select, input, .btn-orange{
                font-size: 16px !important;
            }
            &>*{
                width: 100%;
            }
        }
    }
    .input-white, .btn-white{
        width: 100%;
    }
    .input-white{
        margin-bottom: 15px;
    }
    .btn-orange{
        font-size: 18px; 
    }
}
#step-list{
    background-color: $blue;
    padding: 10px 0;
    ul{text-align: center;}
    li{
        display: inline-block;
        position: relative;
        top: 3px;
        font-size: 15px;
        line-height: 30px;
        color: white;
        .icon-right-arrow{
            position: relative;
            margin: 0;
            top: 1px;
            font-size: 0.75em;
        }
        &.active{
            border-bottom: 1px solid $white;
            &~li{
                opacity: 0.5;
            }
        }
    }
    li:not(:last-child){
        margin-right: 4px;
    }
}

#panier>ul, .shop-list>ul{
    display: block;
    border: 1px solid $blue;
    color: $black;
    border-radius: 6px;
    li{
        display: block;
        width: 100%;
    }
    h3, h4{
        margin: 0;
    }
    [class^=icon-]{
        color: $orange;
        position: relative;
        top: 2px;
    }
    .header{
        background-color: $blue;
        padding: 13px 0;
        h3{
            font-weight: 400;
            font-size: 1.4em;
            color: $white;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .month, .section:not(:last-child){
        border-bottom: 1px solid $blue;
    }
    .month, .unique, .section{
        padding: 15px 10px;
        ul{display: block;}
        li{
            display: block;
            line-height: 20px;
            padding: 0 0 0 10px;
            @include clearfix;
        }
        .label, .price{
            font-size: 1.1em;
        }
        .price{
            float: right;
            color: #E75E0A;
            text-align: right;
            font-weight: 600;
        }
        .remise-name{
            color: $orange;
            font-size: 1.05em;
        }
    }
    .prices{
        padding: 10px 0;
        background-color: $blue;
        color: $white;
        ul{
            display: block;
            padding: 0 15px;
            text-align: center;
            li{
                @include clearfix;
                line-height: 25px;
            }
        }
        .prices-label, .prices-price{
            font-size: 15px;
            text-transform: uppercase;
        }
        .prices-label{
            float: left;
        }
        .prices-price{
            float: right;
            color: $white;
            font-weight: 800;
            font-size: 1.1em;
        }
    }
    h4{
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.shop-list>ul{
    .month .price, .unique .price{
        font-weight: 400;
    }
}

#inscription{
    min-height: 520px;
}

#steps{
    .step{
        display: none;
    }
    .step-title, .step-subtitle{
        margin: 0;
        font-size: 1.8em;
        font-weight: 600;
    }
    .step-subtitle{
        margin: 0;
        font-size: 1.3em;
        font-weight: 600;
    }
    .substep-title{
        display: block;
        font-weight: 600;
        color: $black;
        font-size: 1.05em;
    }
    .step-description, .step-subdescription{
        font-size: 1.2em;
        margin: 10px 0;
        line-height: 20px;
        color: $dark-grey;
    }
    .btn-blue, .btn-orange{
        font-size: 1.1em;
        [class^=icon-]{
            font-size: 0.8em;
            top: 1px;
        }
    }
    .btn-blue{
        text-shadow: none;
        [class^=icon-]{
            margin-right: 10px;
        }
    }
    .btn-orange{
        @include box-shadow(none);
        margin: 0;
        [class^=icon-]{
            margin: 0;
            margin-left: 10px;
        }
        &.disabled{
            &:before{
                position: absolute;
                top: -30px;
                right: 0;
                content: "Merci de selectionner tous les champs requis";
                color: #DC0000;
                font-weight: 800;
            }
        }
    }
}

.shop-item{
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    min-height: 189px;
    padding: 15px;
    background-color: $white;
    border: 1px solid $blue;
    border-radius: 6px;
    @include box-shadow( 0 0 5px 0 rgba(0,0,0,0.4));
    @include clearfix;
    font-size: 14px;
    .btn-blue{
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        font-size: 1.2em !important;
        cursor: inherit;
        &:before{
            content : "Choisir";
        }
    }
    &:not(.disabled):not(.fixed){cursor: pointer;}
    &.disabled{
        border-color: $grey;
        opacity: 0.5;
        cursor: default;
    }
    &:not(.disabled):not(.fixed):hover{
        opacity: 0.8;
    }
    li{
        display: block;
    }
    &.selected{
        border: 1px solid $orange;
        .btn-blue{
            background-color: $orange;
            font-size: 2em !important;
            padding: 0 10px;

            &:hover{
                background-color: $orange;
            }
            &:before{
                position: relative;
                top: 1px;
                font-family: "luxonline-icons" !important;
                font-style: normal !important;
                font-weight: normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                speak: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\45";
            }
        }
    }
}
.shop-item-name{
    margin: 0 0 15px;
    font-size: 1.32em;
    font-weight: 600;
}
.shop-item-description{
    line-height: 20px;
    font-size: 1.05em;
}
.shop-item-container-img{
    overflow: hidden;
}
.shop-item-img{
    display: inline-block;
    height: 100%;
    width: auto;
}

.shop-item-price{
    display: inline-block;
    position: relative;
    float: left;
    text-align: left;
    line-height: 20px;
    font-size: 1em;
    .price{
        font-size: 1.25em;
    }
    &.promo{
        .price{
            text-decoration: line-through;
        }
    }
}

.form-input{
    display: inline-block;
    background-color: $light-grey;
    @include box-shadow(inset 0 1px 4px rgba(0,0,0,0.7));
    border-radius: 6px;
    border: none;
    height: 45px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    color: $dark-grey;
}
.is-disabled{
    opacity: 0.3;
    a{
        pointer-events: none;
        cursor: default;
    }
}
.client-label{
    position: relative;
    bottom: 1px;
    padding: 5px;
    font-size: 1.3em;
    &{
        cursor: pointer;
    }
}
input[name="client"]{
    cursor: pointer;
}
input[type="radio"], input[type="checkbox"]{
    &.error{
        &+label{color: #DC0000;}
    }
}
input:not([type="radio"]):not([type="checkbox"]){
    &.error{
        border: 1px solid #DC0000;
    }
}
