
@include media(phone){

}
@include media(tab){
    #test-offres{
        padding: 6px 0 10px;
        .btn-white, .input-white{
            width: 290px;
            vertical-align: top;
        }
        .btn-white{
            vertical-align: top;
            top: 3px;
            float: right;
        }
        .input-white{
            float: left;
        }
        .text{
            position: relative;
            font-size: 19px;
            margin-bottom: 30px;
            span[class^=icon-]{
                display: inline-block;
                position: relative;
                top: 15px;
                font-size: 45px;
                margin-right: 31px;
                -ms-transform: rotate(-20deg); /* IE 9 */
                -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
                transform: rotate(-20deg);
            }
        }
    }
    #document-links ul li:not(:last-child){
        margin-bottom: 0;
    }
    #document-links ul li{
        display: inline-block;
        width: auto;
    }
}
@include media(desk){
    #test-offres{
        padding: 5px 0 6px;
        .text{
            display: inline-block;
            margin-bottom: 22px;
        }
        .row{
            position: relative;
        }
        form{
            @include vertical-align-middle(absolute);
            right: 0;
        }
        .btn-white, .input-white{
            margin: 0;
        }
        .btn-white{
            top: 2px;
            width: 270px;
        }
        .input-white{
            width: 200px;
        }
    }
    #document-links .icon{
        display: inline-block;
    }
    #document-links a{
        line-height: 31px;
        padding-left: 40px;
    }
}
@include media(lgdesk){
    #test-offres{
        .input-white{width: 250px;}
        .btn-white{
            float: left;
            margin-left: 30px;
        }
    }
}