
@include media(phone){
    .shop-list > ul{
        font-size: 12px;
    }
    .input-group-table .input-group.inline > label, .input-group-table .input-group.inline > input, .input-group-table .input-group.inline > .input-group-cell{
        display: block !important;
    }
}

@include viewport(max, $max: 1055){
    /*.shop-item{
        [class^="phone-"]{
            float: none;
        }
    }*/
}

@include media(tab){
    #test-offres{
        padding: 6px 0 10px;
        .btn-orange, .input-white{
            width: 290px;
            vertical-align: top;
        }
        .btn-orange{
            vertical-align: top;
            top: 3px;
            float: right;
        }
        .input-white{
            float: left;
        }
        .text{
            position: relative;
            font-size: 19px;
            margin-bottom: 30px;
            span[class^=icon-]{
                display: inline-block;
                position: relative;
                top: 15px;
                font-size: 45px;
                margin-right: 31px;
                -ms-transform: rotate(-20deg); /* IE 9 */
                -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
                transform: rotate(-20deg);
            }
        }
        .testDispo{
            &>div{
                width: 50%;
            }
        }
    }
    .shop-item-list{
        [class$="-6"]:nth-child(odd){
            padding-right: 10px;
        }
        [class$="-6"]:nth-child(even){
            padding-left: 10px;
            margin-bottom: 20px;
        }
    }
    #steps{
        .btn-orange{
            &.disabled{
                &:before{
                    top: auto;
                    right: 123px;
                }
            }
        }
    }

}
@include media(desk){
    #test-offres{
        padding: 5px 0 6px;
        .text{
            width: 45% !important;
            display: inline-block;
            margin-bottom: 22px;
        }
        .row{
            position: relative;
        }
        .testDispo{
            @include display-flex-center;
            width: auto;
            margin: 4px 0;
            &>div{
                max-width: 217px;
                width: auto;
                select, input, .btn-orange{
                    font-size: 15px !important;
                    margin: 0;
                }
                .btn-orange{
                    padding: 12px 8px;
                }
            }
        }
        .btn-orange, .input-white{
            margin: 0;
        }
        .btn-orange{
            top: 2px;
            width: 270px;
        }
        .input-white{
            width: 200px;
        }
    }
    #personalData{
        &>ul{
            max-width: 280px;    
        }
    }
    #step-list{
        ul{
            display: block;
            text-align: justify;
            width: 100%;
            line-height: 0;
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
        }
    }
}
@include media(lgdesk){
    .shop-item{
        text-align: left;
        .shop-item-price{
            position: absolute;
        }
    }
    .shop-item-container-img{
        text-align: right;
    }
    #test-offres{
        .input-white{width: 250px;}
        .btn-orange{
            float: left;
            margin-left: 30px;
        }
        .testDispo{
            &>div{
                max-width: none;
                select, input, .btn-orange{
                    font-size: 15px !important;
                    margin: 0;
                }
                .btn-orange{
                    padding: 12px 15px;
                }
            }
        }
    }
}