.text-highlight{
    margin: 12px 0;
    text-align: center;
    color: $orange;
    font-size: 30px;
}

.offer-item-blue .item-body > li{
    background-color: transparent;
}

.footer-note{
    font-size: 11px;
    margin-top: 20px;
    text-align: center;
    color: $dark-grey;
    &>span{
        display: block;
    }
    .exponent{
        display: inline-block;
        margin-right: 5px;
    }
}
.content-container .offer-item-blue .info .data, .content-container .offer-item-orange .info .data{
    padding: 0;
}
.content-container .offer-item-blue .info, .content-container .offer-item-orange .info{
    text-align: center;
}
.content-container .offer-item-blue .info, .content-container .offer-item-orange .info {
    font-size: 21px;
    font-weight: 400;
}
.content-container .offer-item-blue .item-header, .content-container .offer-item-orange .item-header {
    padding: 12px 0;
    font-size: 31px;
}

.img-layout{
    width: 100%;
    height: auto;
}

.channels-language-links{
    font-size: 20px;
    color: $dark-grey;
    font-weight: 400;
    margin-bottom: 35px;
    li{
        height: 30px;
        width: 130px;
        margin-bottom: 10px;
        text-align: center;
        @include display-flex-spread-item;
        padding: 0px 0px 5px;
        cursor: pointer;
        &:hover{
            border-bottom: 2px dotted #c0c0c0;
        }
        &.active{
            color: $blue;
            font-weight: 600;
        }
    }
}
.channels-items{
    &>div[data-language]{
        display: none !important;
        @include display-flex-center;
        &.is-visible{
            display: -ms-flexbox !important;
            display: -webkit-flex !important;
            display: flex !important;
        }
    }
    .item{
        @include display-flex-spread-item;
        position: relative;
        margin: 0px 11px 20px;
    }
}

.channel-logo{
    position: relative;
    height: 75px;
    width: 130px;
    text-align: center;
    border-bottom: 1px solid lighten($black, 90%);
    img{
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        @include vertical-align-middle;
    }
}
.channel-brand{
    text-align: center;
    margin: 10px 0 8px;;
    font-size: 13px;
}

.equipement-description{
    display: block;
    font-size: 16px;
    li{
        display: block;
        line-height: 20px;
    }
}

.minix-info{
    h1{
        font-size: 40px;
        font-weight: 800;
        line-height: 65px;
        span{
            display: block;
            font-size: 45px;
            font-weight: 400;
            strong{
                font-weight: 800;
            }
            
        }
    }
}
.achat{
    font-size: 16px;
    line-height: 20px;
    span{
        display: block;
    }
}