@include media(phone){
    .channels-language-links{
        @include display-flex-center;
    }
    .header-channel{
        img{
            display: inline-block;
            height: 180px;
            width: auto;
        }
    }
    .footer-note {
        margin: 20px 0;
    }
    .section-info {
        margin-bottom: 30px;
        p{
            font-size: 18px;
        }
        h1{
            line-height: 31px;
            font-size: 21px;
        }
    }
}
@include media(tab){
    #video-fond {
    &.image-1{background-image: url(../../images/TV/header/football_1056x290px.jpg);}
    &.image-2{background-image: url(../../images/TV/header/love_1056x290px.jpg);}
    &.image-3{background-image: url(../../images/TV/header/space_1056x290px.jpg);}
    }
    #offre-tv-header{
        height: 290px !important;
        background-size: 1056px auto;
        &.image-1{background-image: url(../../../images/TV/header/football_1056x290px.jpg);}
        &.image-2{background-image: url(../../../images/TV/header/love_1056x290px.jpg);}
        &.image-3{background-image: url(../../../images/TV/header/space_1056x290px.jpg);}
        .section-title{
            font-size: 30px;
            line-height: 35px;
        }
        .section-price{
            font-size: 60px;
            div{
                font-size: 28px;
                top: 10px;
                left: 320px;
            }
        }
    }

    .header-channel{
        img{
            display: inline-block;
            height: 230px;
            width: auto;
        }
    }
    .channels-language-links:not(.radio){
        @include display-flex-spread;
    }
    .channels-language-links.radio{
        @include display-flex-center;
        li{
            margin: 0 60px;
        }
    }
    .footer-note {
        margin: 10px 0 35px;
    }
    .text-highlight{
        font-size: 41px;
    }
    .offer-item-blue .offer-price div {
        left: 198px;
    }
    .channels-items{
        .item{
            margin: 0px 30px 25px;
        }
    }
}

@include media(desk){
    #offre-tv-header{
        height: 370px !important;
        background-size: 1302px auto;
        &.image-1{background-image: url(../../../images/TV/header/football_1302x370px.jpg);}
        &.image-2{background-image: url(../../../images/TV/header/love_1302x370px.jpg);}
        &.image-3{background-image: url(../../../images/TV/header/space_1302x370px.jpg);}
        .section-price{
            div{
                top: 10px !important;
                left: 70px;
            }
        }
        .btn-tr-white{
            font-size: 18px;
        }
    }
    .header-channel{
        margin-bottom: 0px;
        .img-layout{
            display: inline-block;
            height: 100%;
            width: auto;
        }
    }
    .image-container{
        text-align: initial
    }
    .channels-language-links li{
        width: auto;
    }
    .text-highlight{
        font-size: 44px;
    }
    .header-channel{
        height: 300px;
        &>div[class^=phone-]{
            height: 100%;
            &>*{
                @include vertical-align-middle;
            }
        }
    }
    .section-subtitle{
        margin: 0;
        font-size: 45px;
    }
    .pull-right{
        .section-subtitle{
            text-align: right;
        }
        .img-layout{
            float: right
        }
    }
    .minix-info-image img{
        min-width: 350px;
    }
}

@include media(lgdesk){
    #offre-tv-header{
        height: 500px !important;
        background-size: 1920px auto;
        &.image-1{background-image: url(../../../images/TV/header/football_1920x500px.jpg);}
        &.image-2{background-image: url(../../../images/TV/header/love_1920x500px.jpg);}
        &.image-3{background-image: url(../../../images/TV/header/space_1920x500px.jpg);}

        .section-title{
            font-size: 34px;
            line-height: 45px;
            margin: 0 0 20px;
        }
        .section-price{
            margin-bottom: 30px;
        }
        .btn-tr-white{
            font-size: 21px;
        }
    }
}