@include media(phone){
    .channels-language-links{
        @include display-flex-center;
    }
    .header-channel{
        img{
            display: inline-block;
            height: 180px;
            width: auto;
        }
    }
    .footer-note {
        margin: 20px 0;
    }
    .section-info {
        margin-bottom: 30px;
        p{
            font-size: 18px;
        }
        h1{
            line-height: 31px;
            font-size: 21px;
        }
    }
}
@include media(tab){
    .header-channel{
        img{
            display: inline-block;
            height: 230px;
            width: auto;
        }
    }
    .channels-language-links:not(.radio){
        @include display-flex-spread;
    }
    .channels-language-links.radio{
        @include display-flex-center;
        li{
            margin: 0 60px;
        }
    }
    .footer-note {
        margin: 10px 0 35px;
    }
    .text-highlight{
        font-size: 41px;
    }
    .offer-item-blue .offer-price div {
        left: 198px;
    }
    .channels-items{
        .item{
            margin: 0px 30px 25px;
        }
    }
}

@include media(desk){
    .header-channel{
        margin-bottom: 0px;
        .img-layout{
            display: inline-block;
            height: 100%;
            width: auto;
        }
    }
    .image-container{
        text-align: initial
    }
    .channels-language-links li{
        width: auto;
    }
    .text-highlight{
        font-size: 44px;
    }
    .header-channel{
        height: 300px;
        &>div[class^=phone-]{
            height: 100%;
            &>*{
                @include vertical-align-middle;
            }
        }
    }
    .section-subtitle{
        margin: 0;
        font-size: 45px;
    }
    .pull-right{
        .section-subtitle{
            text-align: right;
        }
        .img-layout{
            float: right
        }
    }
}