@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);
.text-highlight {
  margin: 12px 0;
  text-align: center;
  color: #e75e0a;
  font-size: 30px; }

.header-channel {
  margin-bottom: 25px; }

.image-container {
  text-align: center; }

.offer-item-blue .item-body > li {
  background-color: transparent; }

.footer-note {
  font-size: 11px;
  margin-top: 20px;
  text-align: center;
  color: #818181; }
  .footer-note > span {
    display: block; }
  .footer-note .exponent {
    display: inline-block;
    margin-right: 5px; }

.content-container .offer-item-blue .info .data, .content-container .offer-item-orange .info .data {
  padding: 0; }

.content-container .offer-item-blue .info, .content-container .offer-item-orange .info {
  text-align: center; }

.content-container .offer-item-blue .info, .content-container .offer-item-orange .info {
  font-size: 21px;
  font-weight: 400; }

.content-container .offer-item-blue .item-header, .content-container .offer-item-orange .item-header {
  padding: 12px 0;
  font-size: 31px; }

.img-layout {
  width: 100%;
  height: auto; }

.channels-language-links {
  font-size: 20px;
  color: #818181;
  font-weight: 400;
  margin-bottom: 35px; }
  .channels-language-links li {
    height: 30px;
    width: 130px;
    margin-bottom: 10px;
    text-align: center;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 0px 0px 5px;
    cursor: pointer; }
    .channels-language-links li:hover {
      border-bottom: 2px dotted #c0c0c0; }
    .channels-language-links li.active {
      color: #004994;
      font-weight: 600; }

.channels-items > div[data-language] {
  display: none !important;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .channels-items > div[data-language].is-visible {
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important; }
.channels-items .item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  position: relative;
  margin: 0px 11px 20px; }

.channel-logo {
  position: relative;
  height: 75px;
  width: 130px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6; }
  .channel-logo img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.channel-brand {
  text-align: center;
  margin: 10px 0 8px;
  font-size: 13px; }

.equipement-description {
  display: block;
  font-size: 16px; }
  .equipement-description li {
    display: block;
    line-height: 20px; }

.minix-info h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 65px; }
  .minix-info h1 span {
    display: block;
    font-size: 45px;
    font-weight: 400; }
    .minix-info h1 span strong {
      font-weight: 800; }

.achat {
  font-size: 16px;
  line-height: 20px; }
  .achat span {
    display: inline-block;
    font-size: 0.9em; }

.minix-info-image img {
  max-width: 100%; }

#offre-tv-header {
  background-size: 672px auto;
  height: 320px !important;
  background-image: url(../../../images/TV/header/football_672x320px.jpg); }

@media screen and (max-width: 671px) {
  .channels-language-links {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .header-channel img {
    display: inline-block;
    height: 180px;
    width: auto; }

  .footer-note {
    margin: 20px 0; }

  .section-info {
    margin-bottom: 30px; }
    .section-info p {
      font-size: 18px; }
    .section-info h1 {
      line-height: 31px;
      font-size: 21px; } }
@media screen and (min-width: 672px) {
  #offre-tv-header {
    height: 290px !important;
    background-size: 1056px auto;
    background-image: url(../../../images/TV/header/football_1056x290px.jpg); }

  .header-channel img {
    display: inline-block;
    height: 230px;
    width: auto; }

  .channels-language-links:not(.radio) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  .channels-language-links.radio {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .channels-language-links.radio li {
      margin: 0 60px; }

  .footer-note {
    margin: 10px 0 35px; }

  .text-highlight {
    font-size: 41px; }

  .offer-item-blue .offer-price div {
    left: 198px; }

  .channels-items .item {
    margin: 0px 30px 25px; } }
@media screen and (min-width: 1056px) {
  #offre-tv-header {
    height: 370px !important;
    background-size: 1302px auto;
    background-image: url(../../../images/TV/header/football_1302x370px.jpg); }

  .header-channel {
    margin-bottom: 0px; }
    .header-channel .img-layout {
      display: inline-block;
      height: 100%;
      width: auto; }

  .image-container {
    text-align: initial; }

  .channels-language-links li {
    width: auto; }

  .text-highlight {
    font-size: 44px; }

  .header-channel {
    height: 300px; }
    .header-channel > div[class^=phone-] {
      height: 100%; }
      .header-channel > div[class^=phone-] > * {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }

  .section-subtitle {
    margin: 0;
    font-size: 45px; }

  .pull-right .section-subtitle {
    text-align: right; }
  .pull-right .img-layout {
    float: right; }

  .minix-info-image img {
    min-width: 350px; } }
@media screen and (min-width: 1302px) {
  #offre-tv-header {
    height: 500px !important;
    background-size: 1920px auto;
    background-image: url(../../../images/TV/header/football_1920x500px.jpg); } }

/*# sourceMappingURL=tv.css.map */
